<div class="container-fluid" data-role="page" id="pageone">
	<div class="row margintop">
		<div class="col-md-3"></div>
		<div class="col-md-3">
			<div id="skills" class="container">
		    <div class="center"><h3>Skills</h3></div>
		    <div class="field">
		    	<p>HTML5</p>
		    </div>
		    <div class="field">
		    	<pre>  SCSS</pre>
		    </div>
		    <div class="field">
		    	<p>Javascript</p>
		    </div>
		    <div class="field">
		    	<p>Ruby</p>
		    </div>
		    <div class="field">
		    	<p>SQL</p>
		    </div>
		    <div class="field">
		    	<p>Ajax</p>
		    </div>
			</div>
		</div>
		<div class="col-md-3">
			<div id="links" class="container">
		    <div class="center"><h3>Links</h3></div>
		    <div class="field">
		    	<%= link_to "https://www.meetup.com/members/228689923/", target: :_blank do %>
			    	<%= image_tag "meetuplogo.png", :class => "meetupimage" %>
		    	<% end %>
		    </div>
		    <div class="field">
		    	<%= link_to "https://github.com/HansPalacios", target: :_blank do %>
			    	<%= image_tag "githublogo.png", :class => "linkimage" %>
		    	<% end %>
		    </div>
		    <div class="field">
		    	<%= link_to "https://www.linkedin.com/in/hspalacios/", target: :_blank do %>
			    	<%= image_tag "linkedinlogo.png", :class => "linkimage" %>
		    	<% end %>
		    </div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<div id="resume">
				<h3>Resume</h3>
			</div>
			<div id="showresume">
				<button id="close">X</button>
				<%= image_tag "resume.png" %>
			</div>
		</div>
		<div class="col-md-4" id="togglename">
			<div id="name" class="active">
				<h2>Hans-Sebastian Palacios</h2>
				<h4><strong>Web Developer & Designer</strong></h4>
			</div>
			<div id="bio">
				<p>A business-minded millennial with a solid foundation in HTML, CSS, JavaScript, and Ruby. Experience in sales and management. As well as an avid reader of motivational and self-development literature.</p>
			</div>
		</div>

		<div class="col-md-2" id="projects">
			<a href="#pagetwo" data-transition="slide">
				<h3>Websites &<br> Projects</h3>
		</div>
		<div class="col-md-1" id="arrowcolumn">
			<%= image_tag "doublearrow.png", :id => "doublearrow"%>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-3">
			<div id="interests" class="container">
		    <div class="center intcenter"><h3>Interests</h3></div>
		    <div class="field">
		    	<pre class="margintop">               Kayaking</pre>
		    </div>
		    <div class="field">
		    	<pre>                 Sailing</pre>
		    </div>
		    <div class="field">
		    	<pre>   Rock Climbing</pre>
		    </div>
		    <div class="field">
		    	<pre class="margintop">Marketing</pre>
		    </div>
		    <div class="field">
		    	<pre>        Business <br>    Development</pre>
		    </div>
		    <div class="field">
		    	<pre><br>                UI & UX</pre>
		    </div> 
			</div>
		</div>
		<div class="col-md-3" id="contact">
				<h3>Contact</h3>
				<div id="contactbox">
					<p>hans@hspalacios.com</p>
				</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>






<!-- ***** website and projects page ***** -->

<div class="container-fluid" data-role="page" id="pagetwo">
  <div data-role="header">
    <h1>Websites & Projects</h1>
  </div>
  <div class="row" data-role="main" class="ui-content">
  	<div class="col-md-2">
	    <a href="#pageone" data-transition="slide" data-direction="reverse">
	    	<%= image_tag "doublearrow.png", :id => "arrowtofirstpage"%>
	    </a>
	  </div>
    <div class="col-md-9">
    	<div class="row projectlist bottomborder">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="row">
	    				<h3>DateNight<%= link_to "https://github.com/HansPalacios/datenight", :target => "_blank" do %>
		    			<%= image_tag "githublogo.png", :class=> "githublink"%>
		    			<% end %></h3>
		    		</div>
		    		<div class="row">
			    		<p>An app which gives users access to a database of great venues for different types of dates</p>
			    	</div>
				    <div class="row imagerow">
		    			<div class="col-md-12">
		    				<div id="datenightimage" class="siteimages"><h4>Play<br>Video</h4></div>
		    			</div>	
		    		</div>
		    	</div>
		    	<ul class="col-md-6">
		    			<li>Built using Ruby on Rails, JavaScript, and SCSS with a 2 week deadline</li>
		    			<li>Using Google API for maps and easy to access information on venues.</li>
		    			<li>Integrated the Yelp API for venue ratings and other information.</li>
		    			<li>Optional memberships for discounts and extra services</li>
		    		</ul>
    		</div>
    		
    	</div>
    	<div class="row projectlist bottomborder">
    		<div class="row button">
    			<div class="col-md-6">
    				<div class="row">
	    				<h3>Groundwork Detailing<%= link_to "https://github.com/HansPalacios/Groundwork", :target => "_blank" do %>
			    			<%= image_tag "githublogo.png", :class=> "githublink"%>
			    		<% end %></h3>
		    		</div>
		    		<div class="row">
			    		<p>A custom designed website for an auto detailing company in Connecticut</p>
			    	</div>
		    		<div class="row imagerow">
		    			<div class="col-md-12">
		    				<div id="groundworkimage" class="siteimages"><h4>Play<br>Video</h4></div>
		    			</div>	
		    		</div>
				   </div>
				   <div class="col-md-6">
				   	<%= link_to "https://www.groundworkdetailing.com", :target => "_blank" do %>
				   		<button>Go to site</button>
				   	<% end %>
				   	<ul>
				   		<li>Modern design with an easy user interface in mind</li>
			    		<li>Built out using Ruby on Rails, Javascript, bootstrap and SCSS</li>
			    		<li>Worked with client directly and worked through or compromised with multiple design changes</li>
			    		<li>Used SendGrid for email interface</li>
			    	</ul>
		    	</div>
		    </div>
    	</div>
    	<div class="row projectlist">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="row">
	    				<h3>Where Next<%= link_to "https://github.com/HansPalacios/WhereNext", :target => "_blank" do %>
			    			<%= image_tag "githublogo.png", :class=> "githublink"%>
			    		<% end %></h3>
		    		</div>
		    		<div class="row">
			    		<p>An easy to use and mobile friendly app for popular clubs and bars in Williamsburg, NY</p>
			    	</div>
				    <div class="row imagerow">
		    			<div class="col-md-12">
		    				<div id="wherenextimage", class="siteimages"><h4>Play<br>Video</h4></div>
		    			</div>	
		    		</div>
		    	</div>
		    	<ul class="col-md-6">
		    			<li>Group Project, where I built out most of the backend and design, while partner designed the SVG map and functionality</li>
		    			<li>Designed for an extremely simple user experience, with easy navigation, and minimal pages</li>
		    			<li>Built using Ruby on Rails, Javascript, SCSS, and Bootstrap </li>
		    		</ul>
    		</div>
    		
    	</div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="close" id="close2"><strong>X</strong></div>
 <%= video_tag(["datenight540.mp4"], :controls => true, :class => "video", :id => "datenightvideo") %>
 <div class="close" id="close3"><strong>X</strong></div>
 <%= video_tag(["groundwork540.mp4"], :controls => true, :class => "video", :id => "groundworkvideo") %>
  <div class="close" id="close4"><strong>X</strong></div>
 <%= video_tag(["wherenext540.mp4"], :controls => true, :class => "video", :id => "wherenextvideo") %>
