
<!-- first box -->

<div class="row" id="heading">
	<div class="col-md-12">
		<div class="row center">
 			<h1>Hans-Sebastian Palacios</h1>
		</div>
		<div class="row">
				<h2>Web Developer | Designer</h2>
			</div>
		<div class="row bio">
			<p>A business-oriented full stack web developer with experience in sales and management. </p>
		</div>
		<div class="row bio">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<p class="row"><em>“Your reputation is more important than your paycheck, and your integrity is worth more than your career.”</em></p>
				<pre>-  Ryan Freitas</pre>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= image_tag "arrow.png", :class => "arrow" %>
			</div>
		</div>
	</div>
</div>

<!-- Technical skills and experience -->

<div id="techskills">
	<div class="row">
		<h2 class="col-md-12">Technical Skills & Experience</h2>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<ul class="col-md-4">
			<li>Ruby (Rails & Sinatra)</li>
			<li>SQL</li>
			<li>Javascript (Vanilla and JQuery)</li>
			<li>CSS & SCSS</li>
			<li>HTML</li>
		</ul>
		<ul class="col-md-4">
			<li>Instagram integration into website</li>
			<li>Google Maps API</li>
			<li>Soundcloud API</li>
			<li>Zapier.com</li>
		</ul>
		<div class="col-md-2"></div>
	</div>
</div>


<!-- Project box -->

<div class="row" id="projects">
	<div class="col-md-12">
    <h2>Websites & Projects</h2>
   	<div class="row projectlist">
  		<div class="col-md-2"></div>
  		<div class="col-md-4">
  			<div class="row">
   				<h3>DateNight<%= link_to "https://github.com/HansPalacios/datenight", :target => "_blank" do %><%= image_tag "githublogo.png", :class=> "githublink"%><% end %></h3>
	   		</div>
	   		<div class="row">
	    		<p>An app which gives users access to a database of great venues for different types of dates</p>
	    	</div>
	    	<div class="row">
		    	<ul>
		   			<li>Built using Ruby on Rails, JavaScript, and SCSS with a 2 week deadline</li>
		   			<li>Using Google API for maps and easy to access information on venues.</li>
		   			<li>Optional memberships for discounts and extra services</li>
		   		</ul>
		   	</div>
	   	</div>
	   	<div class="col-md-4">
		 		<div class="row gotosite"></div>
		   	<div class="row imagerow">
	   				<div id="datenightimage" class="siteimages"><h4>Play<br>Video</h4></div>
	   		</div>
	   	</div>
   		<div class="col-md-2"></div>
   	</div>
   	<hr>
   	<div class="row projectlist">
   		<div class="col-md-2"></div>
  		<div class="col-md-4">
  			<div class="row">
    			<h3>Groundwork Detailing<%= link_to "https://github.com/HansPalacios/Groundwork", :target => "_blank" do %><%= image_tag "githublogo.png", :class=> "githublink"%><% end %></h3>
	    	</div>
	    	<div class="row">
		    	<p>A custom designed website for an auto detailing company in Connecticut</p>
		    </div>
		    <div class="row">
		    	<ul>
			  		<li>Modern design with an easy user interface in mind</li>
		    		<li>Built out using Ruby on Rails, SQL, Javascript, bootstrap and SCSS</li>
		    		<li>Worked with client directly and worked through or compromised with multiple design changes</li>
		    		<li>Embedded images from Instagram using Instafeed</li>
		    		<li>Admin Site with the ability to edit all textboxes, including pricing and contact information</li>
		    	</ul>
		    </div>
		  </div>
	   	<div class="col-md-4">
	   		<div class="row gotosite">
				  <%= link_to "https://www.groundworkdetailing.com", :target => "_blank" do %>
						<button>Go to site</button>
					<% end %>
				</div>
		  	<div class="row imagerow">
	   			<div id="groundworkimage" class="siteimages"><h4>Play<br>Video</h4></div>
	    	</div>	
	    </div>
   		<div class="col-md-2"></div>
   	</div>
   	<hr>
   	<div class="row projectlist">
   		<div class="col-md-2"></div>
  		<div class="col-md-4">
  			<div class="row">
    			<h3>Where Next<%= link_to "https://github.com/HansPalacios/WhereNext", :target => "_blank" do %><%= image_tag "githublogo.png", :class=> "githublink"%><% end %></h3>
	    	</div>
	    	<div class="row">
		    	<p>An easy to use and mobile friendly app for popular clubs and bars in Williamsburg, NY</p>
		    </div>
		    <div class="row">
		    	<ul>
    				<li>Group Project, where I built out most of the backend and design, while partner designed the SVG map and functionality</li>
    				<li>Designed for an extremely simple user experience, with easy navigation, and minimal pages</li>
    				<li>Built using Ruby on Rails, Javascript, SCSS, and Bootstrap </li>
    			</ul>
    		</div>
    	</div>
		 	<div class="col-md-4">
		 		<div class="row gotosite"></div>
		  	<div class="row imagerow">
    			<div id="wherenextimage", class="siteimages"><h4>Play<br>Video</h4></div>
    		</div>
    	</div>	
    	<div class="col-md-2"></div>
		</div>
	</div>
</div>




<!-- Contact box-->

<div class="row" id="contact">
	<div class="col-md-12">
		<h2>Contact & Links</h2>
		<div class="row">
			<div id="links">
				<%= link_to "https://github.com/HansPalacios", target: :_blank do %>
		    	<%= image_tag "whitegithub.png", :class => "linkimage" %>
		   	<% end %>
				<%= link_to "https://www.linkedin.com/in/hspalacios/", target: :_blank do %>
		    	<%= image_tag "linkedinlogo.png", :class => "linkimage" %>
		   	<% end %>
				<%= link_to "https://www.meetup.com/members/228689923/", target: :_blank do %>
		    	<%= image_tag "meetuplogo.png", :class => "meetupimage" %>
		   	<% end %>	
		  </div>
		</div>		
		<div class="row" id="resume">
			<button>Open Resume</button>
		</div>
		<div id="showresume">
			<button id="close">X</button>
			<%= image_tag "resumeimage.png" %>
		</div>
		<div class="row">
			<h3>hans@hspalacios.com</h3>
		</div>
		<div class="row">
			<h3>(860)204-7995</h3>
		</div>
	</div>
</div>